<div>
    <div layout="row" ng-if="small != 'true'">
        <span flex>Log in via </span>
        <md-button flex class="md-primary md-raised" ng-click="firebase.login('google')">
            <i class="fa fa-fw fa-google"></i> <span>Google</span>
        </md-button>
        <md-button flex class="md-primary md-raised" ng-click="login()">
            <i class="fa fa-fw fa-envelope"></i> <span>Email</span>
        </md-button>
    </div>


    <div layout="column" ng-if="small == 'true'">
        <span flex>Log in via </span>
        <md-button flex class="md-primary md-raised" ng-click="firebase.login('google')">
            <i class="fa fa-fw fa-google"></i> <span>Google</span>
        </md-button>
        <md-button flex class="md-primary md-raised" ng-click="login()">
            <i class="fa fa-fw fa-envelope"></i> <span>Email</span>
        </md-button>
    </div>
</div>